*{
  margin: 0px;    
      box-sizing: border-box;
}   
.container{
  width: 815px;
height: 338px;
margin: 0 0 45px 0;
padding: 42px 58px 42px 40px;
border-radius: 17.5px;
border-style: solid;
border-width: 0;

display: flex;
  flex-direction: row;
 
background-color: rgb(53, 52, 52); 
backdrop-filter: blur(8px);
background-color: #2b2b3e;
}
.container .texts{
  
  display: flex;
  justify-content: center;
  
  flex-direction: column;
  width: 51.2%;
  height: 74.8%;
  /* height: 76.1px; */
  color:red;
  font-family: Poppins;
  /* border: 2px solid red; */
  background-color: rgba(0,0,0,0);
  
  flex-grow: 0;
  
  font-family: Poppins;
  

}
.container .image{
  
  /* width:50%; */
  /* border: 2px solid wheat; */
  margin:auto;
  background-color: rgba(0,0,0,0);
  width: 39.3%;
height: 74.8%;
  
}
.container .image img{
  width: 100%;
  height:100%;
  background-color: rgba(0,0,0,0);
}
.container .texts .heading{
  
  font-weight: 600;
  font-size: 1.5rem;
  /* border: 2px solid; */
}
.container .texts  {
  /* border: 2px solid; */
  /* background-color: rgba(0,0,0,0); */
  /* color:red; */
}
.container .texts .text{
  /* margin-bottom: 30px; */
  font-size: 24.1px;
font-weight: normal;
width: 77.2%;
height:44.2%;
flex-grow: 0;
margin: 0px 94.7px 37px 0.9px;
/* border: 2px solid; */
}
.learnmore{
  /* border: 2px solid; */
  display: flex;
  /* justify-content: center; */
  /* align-items:center; */
  
}
.learnmore .text2{
  /* margin: auto; */
  color: #bcb0ff;
  width: 192px;
  height: 38px;
  flex-grow: 0;
  margin: 0 12px 0 0;
  font-family: Poppins;
  font-size: 33.9px;
  font-weight: 600;
}
.learnmore .icon{
  width: 11.3px;
height: 25.8px;
flex-grow: 0;
margin: 12.2px 0 0px 12px;


}

  
