.maindiv{
    background-image: linear-gradient(127deg, #433882 -71%, rgba(0, 0, 0, 0.32) 97%);
background-image: url('./images/bg\ 2304.png');
z-index: 100;
background: fixed;
background-color: black;
padding:0 5.4vw 0% 5.4vw;
}
@media screen and (max-width: 480px){
    .maindiv{
        padding: 23.3vw 0 0;
    }
    
}